#slide{
    width: 250px;
    height: 560px;
    background-color:cadetblue;
}
#create{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #c2e7ff;
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 1rem;
}
#create:hover{
    box-shadow: 0 7px 3px 1px rgb(7, 7, 7);
}
#slide_nav{
    display: inline;
}
#slide_nav button{
    background-color: transparent;
    border: none;
    width: 190px;
    height: 40px;
    margin-top: 40px;
    padding: 10px;
    margin-left: 35px;
    border-radius: 10px;
    font-size: 1rem;
}
#slide_nav button:hover{
    background-color: rgba(104, 142, 143, 0.774);
    height: 40px;
}
#slide_nav button:focus{
    background-color: #c2e7ff;
}
#slide_nav button span{
    margin-right: 15px;
}

@media only screen and (max-width:767px){
    #slide{
        width: auto;
        height: 70px;
        background-color: gray;
        display: flex;
        margin-bottom: -19px;
    }
    #slide_nav button{
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }
    
    #create{
        width: 100px;
        height: 40px;
        border: none;
        background-color: #c2e7ff;
        border-radius: 10px;
        margin-left: 15px;
        margin-top: 20px;
        font-size: 1rem;
    }
    
    #slide_nav{
        display: inline;
    }
    #slide_nav button{
        margin-top:10px;
    }
    
   
 }

